# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Django
*.log
local_settings.py
db.sqlite3

# FastAPI
instance/

# Database
*.db

# Uploads
app/static/uploads/*
!app/static/uploads/.gitkeep

# Environment variables
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Docker
data/
